pip==26.0.1
pytest==9.0.2
flake8==7.3.0
numpy==2.4.4
pandas==3.0.2
matplotlib==3.10.8
python-dotenv==1.2.2
pre-commit==4.5.1
papermill==2.7.0
ipykernel==7.2.0
wikipedia==1.4.0
lxml==6.0.2
yfinance==1.2.0
pandas_market_calendars==5.3.1.2
eodhd==1.0.32
